body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

a, a:visited, a:hover, a:active {
  color: #76A991;
  text-decoration: none;
}

.header {
	background-color: #76A991;
	box-shadow: inset 0 -20px 50px rgb(0, 0, 0, 0.1);
}

.title {
	font-size: 2em;
	font-weight: bold;
	color: #ffffff;
	display: inline-flex;
	align-items: center;
	margin-left: 25%;
	height: 200px;
}

.container {
	margin-left: 25%;
	margin-right: 25%;
	line-height: 1.9em;
}

.section {
	margin-top: 50px;
}

a.page {
	font-weight: 600;
}

.page-date {
	padding-right: 1em;
	font-weight: 500;
	color: #CFCFCF;
}

.contact > a {
	text-decoration: none;
	margin-right: 20px;
	font-size: 24px;
}

.icon {
	width: 24px;
}

@media all and (max-width: 767px) {
	.container, .title {
		margin-left: 10px;
		margin-right: 10px;
	}
    h1 {
		font-size: 24px;
	}

	p {
		font-size: 14px;
	}
}