<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163684295-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-163684295-1');
	</script>
	<title>
		{% if page.title %}
			{{page.title}} | {{site.title}}
		{% else %}
			{{site.title}}
		{% endif %}
	</title>
	<meta name="description" content="Hey, I'm Bernat and this is my personal website.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
</head>
<body>
	{{ content }}
</body>
</html>
