---
layout: default
---
<div class="header">
    <span class="title">{{ site.title }}</span>
</div>
<div class="container">
    <div class="section">
        <h2>Pages</h2>
        <ul class="nobullet">
            {% for page in site.pages %}
            <li>
                <a class="page" href="{{page.url}}"">{{page.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="section">
        <h2>Posts</h2>
        <table>
            {% for post in site.posts %}
            <tr>
                <td><span class="page-date">{{post.date | date_to_string}}</span></td>
                <td><a class="page" href="{{post.url}}"">{{post.title}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="section">
        <p class="contact">
            <a href="https://twitter.com/brnt"><img class="icon" src="assets/twitter.svg"></a>
            <a href="mailto:contact@bernat.xyz"><img class="icon" src="assets/envelope.svg"></a>
            <a href="https://www.linkedin.com/in/bernatfp/"><img class="icon" src="assets/linkedin-in.svg"></a>
            <a href="https://www.github.com/bernatfp"><img class="icon" src="assets/github.svg"></a>
        </p>
    </div>
</div>